@media (max-width: 1400px) {

  .header {
    width: 95%;
    margin: 0;
  }

  .body_container {
    width: 100%;
    margin: 0 auto;
  }
}

@media (max-width: 990px) {
  /*
  Стили для устройств, у которых ширина viewport меньше или равно 990 пикселей,
  но больше 770 пикселей.
  Эти стили подойдут для некоторых мобильных устройств и планшетов
  */
}

@media (max-width: 770px) {
  /*
  Стили для устройств, у которых ширина viewport меньше или равно 770 пикселей.
  Это множество мобильных устройств
  */
}
</style>
