body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  background-color: #f7dee4;
}

header {
  /* width: 100%;
  padding-top: 0px;
  box-shadow: none;
  position: fixed !important;
  top: 0px;
  right: 0px;
  left: 0px;
  z-index: 9; */
}

.header {
  width: 100%;
  max-width: 1500px;
  position: relative;
  z-index: 19;
  display: flex;
  -moz-box-align: center;
  align-items: center;
  -moz-box-pack: justify;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 0px 20px;
  margin: 0px auto;
  margin-bottom: 0px;
}

.navbar {
  transition: background-color 0.3s; /* Плавный переход изменения цвета */
  width: 100%;
  position: fixed !important;
  z-index: 9;
}

.scrolled {
  background: rgb(252, 252, 252);
  padding-top: 0px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;
}

.scroll_up_wrapper {
  position: fixed;
  z-index: 19;
  right: 20px;
  top: auto;
  bottom: 0px;
  transform: none;
  margin-bottom: 20px;
}

.scroll_up {
  width: 50px;
  height: 50px;
  display: flex;
  -moz-box-pack: center;
  justify-content: center;
  -moz-box-align: center;
  align-items: center;
  cursor: pointer;
  outline: none;
  visibility: visible;
  opacity: 1;
  transition: opacity 0.2s, visibility 0.2s;
  background: rgb(255, 255, 255);
  border: 1px solid rgb(215, 125, 166);
  border-radius: 0px;
  box-shadow: rgba(56, 57, 65, 0.15) 0px 4px 8px;
}

.scroll_up_icon_wrapper {
  display: flex;
  width: 2rem;
  height: 2rem;
}

.scrol_up_icon {
  flex-shrink: 0;
  fill: rgb(215, 125, 166);
}

.menu {
  display: flex;
  align-items: center;
  position: relative;
  margin: 0px 20px;
  font-family: Lato;
  font-weight: 400;
}

.logo {
  display: flex;
  align-items: center;
  position: relative;
  transition: padding 0.3s linear;
  padding: 20px 0px;
}

.logo_scrolled {
  transition: padding 0.3s linear;
  padding: 10px 0px;
}


.logo_img {
  max-width: 160px;
  max-height: 80px;
}

.elements {
  position: relative;
  flex-direction: column;
}

.link-wrapper {
  cursor: pointer;
  max-width: 250px;
  width: 100%;
  padding: 10px;
  color: rgb(56, 57, 65);
  white-space: nowrap;
  transition: opacity 0.1s linear;
}

.welcome_container {
  width: 100%;
  max-width: initial;
  display: flex;
  -moz-box-pack: justify;
  justify-content: space-between;
  position: relative;
  flex-direction: row;
  padding-top: 119px;
}

.welcome {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 84%;
}

.welcome_wrapper {
  width: 48%;
  -moz-box-flex: 1;
  flex-grow: 1;
  display: flex;
  -moz-box-pack: center;
  justify-content: center;
  -moz-box-align: center;
  align-items: center;
  position: relative;
  box-sizing: border-box;
  padding-bottom: 40px;
  padding-top: 40px;
}

h1 {
  color: rgb(56, 57, 65);
  width: 100%;
  text-align: left;
  font-family: Playfair Display;
  font-weight: 400;
  font-size: 56.4px;
  margin-bottom: 0.3em;
  position: relative;
  white-space: pre-line;
  word-break: break-word;
}

.welcome_descr {
  color: rgb(56, 57, 65);
  text-align: left;
  margin-top: 14px;
  width: 100%;
  font-family: Lato;
  font-weight: 400;
  font-size: 18.8px;
  line-height: 1.4;
  position: relative;
  white-space: pre-line;
  word-break: break-word;
}

.button_wrap {
  display: flex;
  padding-top: 30px;
}

button {
  border-radius: 0px;
  white-space: nowrap;
  color: rgb(255, 255, 255);
  background-color: rgb(215, 125, 166);
  background-position: 0% 0%;
  background-attachment: scroll;
  background-image: none;
  background-size: auto;
  background-origin: padding-box;
  background-clip: border-box;
  border: 1px solid transparent;
  max-width: 300px;
  padding: 0px 40px;
  overflow: hidden;
  text-overflow: ellipsis;
  box-sizing: border-box;
  text-align: center;
  height: 50px;
  line-height: 50px;
  cursor: pointer;
  text-decoration: none !important;
  font-weight: 400;
  background-repeat: no-repeat !important;
  font-size: 14px;
  display: block;
}

.welcome_img {
  width: 48%;
  display: flex;
  -moz-box-flex: 1;
  flex-grow: 1;
  box-sizing: border-box;
  position: relative;
}

.img {
  width: 768px;
}

.social {
  display: flex;
  flex-direction: column;
  -moz-box-align: center;
  align-items: center;
  margin: 30px 0px 0px;
  box-sizing: border-box;
  position: absolute;
  bottom: 20px;
  right: 20px;
  z-index: 2;
}

.social_link {
  display: flex;
  align-items: center;
  position: relative;
}

.link {
  width: 28px;
  height: 28px;
  border: 1px solid rgb(255, 255, 255);
  color: rgb(255, 255, 255);
  border-radius: 0px;
  margin: 6px;
  fill: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
}

.social_icon {
  pointer-events: none;
  width: 100%;
  height: 100%;
  max-width: 1.2rem;
  max-height: 1.2rem;
  margin-top: 4px;
}

.connects {
  background: rgb(252, 252, 252);
  padding: 40px;
  display: flex;
  justify-content: center;
  column-gap: 20px;
  margin: 0px auto;
  width: 100%;
}

.connects_element {
  width: 100%;
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
  word-break: break-word;
}

.connects_icon {
  user-select: none;
  display: flex;
  -moz-box-pack: center;
  justify-content: center;
  margin-right: 10px;
  margin-top: -6px;
}

.connects_svg {
  pointer-events: none;
  width: 100%;
  height: 100%;
  max-width: 5rem;
  max-height: 5rem;
  fill: rgb(215, 125, 166);
}

.connects_descr {
  color: rgb(56, 57, 65);
  margin-bottom: 0px;
  min-width: 150px;
  width: 100%;
  text-align: left;
  font-family: Playfair Display;
  font-weight: 400;
  font-size: 20.8px;
}

.subelement {
  position: relative;
}

.subelemen_telement {
  background-color: rgba(0, 0, 0, 0);
  background-position: 0% 0%, center center;
  background-repeat: repeat, no-repeat;
  background-image: linear-gradient(rgba(56, 57, 65, 0), rgba(56, 57, 65, 0)),
    url("https://hosting.renderforestsites.com/5699226/1080093/media/c40d1164dbe07fad7f13628651104166.jpg");
  background-size: auto, cover;
  background-origin: padding-box, padding-box;
  background-clip: border-box, border-box;
  flex-direction: column;
  background-attachment: fixed !important;
  padding: 80px 0px;
  word-break: break-word;
  display: flex;
  overflow: hidden;
}

.subelement_wrap {
  position: relative;
  display: flex;
  -moz-box-pack: center;
  justify-content: center;
  -moz-box-align: center;
  align-items: center;
  width: 100%;
  max-width: initial;
  padding: 0px;
  margin: 0px;
}

.subelement_overlay {
  mask: url("https://static.rfstat.com/renderforest/images/website_maker_images/components/component-images/text14-3.4.0.svg") -2px
    top / auto 100% repeat-x;
  background-color: rgba(255, 255, 255, 0.95);
  width: 100%;
  max-width: 4000px;
  padding: 80px 0px;
  box-sizing: border-box;
  text-align: center;
  display: flex;
  flex-direction: column;
  -moz-box-pack: center;
  justify-content: center;
  -moz-box-align: center;
  align-items: center;
  word-break: break-word;
}

.subelement_descr {
  max-width: 1360px;
  width: 100%;
  display: flex;
  flex-direction: column;
  -moz-box-pack: center;
  justify-content: center;
  -moz-box-align: center;
  align-items: center;
  padding: 0px 128px;
  margin: 0px auto;
  box-sizing: border-box;
}

.subelement_p {
  color: rgba(56, 57, 65, 0.5);
  text-align: center;
  margin-top: 0px;
  width: 100%;
  margin-bottom: 20px;
  line-height: 1.4;
  font-family: Playfair Display;
  font-weight: 400;
  font-size: 20.8px;
}

.subellement_wrapper {
  font-family: Playfair Display;
  font-weight: 400;
  font-size: 56.4px;
  position: relative;
  white-space: pre-line;
  width: 100%;
  color: rgb(56, 57, 65);
  text-align: center;
  margin: 0px auto;
}

.services {
  padding: 80px 0px;
  margin: 0px auto;
  box-sizing: border-box;
}

.servises_bcg {
  background: linear-gradient(rgba(56, 57, 65, 0.74), rgba(56, 57, 65, 0.74)),
    url("https://hosting.renderforestsites.com/5699226/1080093/media/ec27648b08694c6a8aa8256f9ac700f4.jpg")
      center center / cover no-repeat;
}

.servises_block {
  max-width: 836px;
  width: 100%;
  margin: 0px auto;
}

.services_header {
  width: 100%;
  color: rgb(255, 255, 255);
  margin-bottom: 20px;
  text-align: center;
}

.services_descr {
  width: 100%;
  color: rgb(255, 255, 255);
  margin-top: 0px;
  text-align: center;
  font-family: Lato;
  font-weight: 400;
  font-size: 18.8px;
  line-height: 1.4;
}

.price {
  color: rgb(255, 255, 255);
  width: 95%;
  max-width: 1400px;
  margin: 0px auto;
  box-sizing: border-box;
}

.visit_us_btn {
  border-radius: 0px;
  white-space: nowrap;
  color: rgb(255, 255, 255);
  background-color: rgb(227, 162, 192);
  background-position: 0% 0%;
  background-attachment: scroll;
  background-image: none;
  background-size: auto;
  background-origin: padding-box;
  background-clip: border-box;
  border: 1px solid transparent;
  width: 100%;
  max-width: 300px;
  padding: 0px 40px;
  overflow: hidden;
  text-overflow: ellipsis;
  box-sizing: border-box;
  text-align: center;
  height: 50px;
  line-height: 50px;
  cursor: pointer;
  text-decoration: none !important;
  font-weight: 400;
  background-repeat: no-repeat !important;
  font-size: 14px;
  display: block;
}

{Пробел}

.running_line_block {
  background: rgb(252, 252, 252);
  padding: 40px 0px;
  word-break: break-word;
  padding: 80px 0px;
  display: flex;
  overflow: hidden;
}

.running_line_wrap {
  width: 100%;
  max-width: 100%;
  margin: 0px auto;
}

.running_line_storage {
  width: 100%;
  display: flex;
  max-width: 100%;
  position: relative;
  overflow: hidden;
}

.storage_item_idol {
  opacity: 0;
  user-select: none;
  position: absolute;
  opacity: 0.5;
  position: relative;
  padding-right: 20px;
  box-sizing: border-box;
  display: flex;
  -moz-box-align: center;
  align-items: center;
}

.idol_wrapp {
  margin-right: 20px;
  width: 24px;
  height: 24px;
}

.idol_descr {
  font-family: Playfair Display;
  font-weight: 400;
  font-size: 20.8px;
  margin-bottom: 0.3em;
  color: rgb(56, 57, 65);
  line-height: 1.4;
  white-space: nowrap;
  margin-bottom: 0px;
  width: max-content;
}

.running_line_img {
  height: 24px;
  fill: rgb(215, 125, 166);
  pointer-events: none;
  width: 100%;
  height: 100%;
  max-width: 1.5rem;
  max-height: 1.5rem;
  fill: white;
}

.storage_item_runner {
  width: max-content;
  padding-right: 20px;
  box-sizing: border-box;
  display: flex;
  -moz-box-align: center;
  align-items: center;
  position: relative;
  animation-name: textRun;
  animation-duration: 3.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.runner_wrap {
  margin-right: 20px;
  width: 24px;
  height: 24px;
}
