body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  background-color: #f7dee4;
}

header {
  width: 100%;
  padding-top: 0px;
  box-shadow: none;
  position: fixed !important;
  top: 0px;
  right: 0px;
  left: 0px;
  z-index: 9;
}

.header {
  width: 100%;
  max-width: 1500px;
  max-height: 120px;
  position: relative;
  padding: 0px 20px;
  margin: 0px auto;
  display: flex;
  justify-content: space-between;
}

.menu {
  display: flex;
  align-items: center;
  position: relative;
  margin: 0px 20px;
  font-family: Lato;
  font-weight: 400;
}

.logo {
  display: flex;
  align-items: center;
  position: relative;
  transition: padding 0.3s linear;
  padding: 20px 0px;
}

.logo_img {
  max-width: 160px;
  max-height: 80px;
}

.elements {
  position: relative;
  flex-direction: column;
}

.link-wrapper {
  cursor: pointer;
  max-width: 250px;
  width: 100%;
  padding: 10px;
  color: rgb(56, 57, 65);
  white-space: nowrap;
  transition: opacity 0.1s linear;
}

.welcome_container {
  width: 100%;
  max-width: initial;
  display: flex;
  -moz-box-pack: justify;
  justify-content: space-between;
  position: relative;
  flex-direction: row;
  padding-top: 119px;
}

.welcome {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 84%;
}

.welcome_wrapper {
  width: 48%;
  -moz-box-flex: 1;
  flex-grow: 1;
  display: flex;
  -moz-box-pack: center;
  justify-content: center;
  -moz-box-align: center;
  align-items: center;
  position: relative;
  box-sizing: border-box;
  padding-bottom: 40px;
  padding-top: 40px;
}

h1 {
  color: rgb(56, 57, 65);
  width: 100%;
  text-align: left;
  font-family: Playfair Display;
  font-weight: 400;
  font-size: 56.4px;
  margin-bottom: 0.3em;
  position: relative;
  white-space: pre-line;
  word-break: break-word;
}

h2 {
  color: rgb(56, 57, 65);
  text-align: left;
  margin-top: 14px;
  width: 100%;
  font-family: Lato;
  font-weight: 400;
  font-size: 18.8px;
  line-height: 1.4;
  position: relative;
  white-space: pre-line;
  word-break: break-word;
}

.button_wrap {
  display: flex;
  padding-top: 30px;
}

button {
  border-radius: 0px;
  white-space: nowrap;
  color: rgb(255, 255, 255);
  background-color: rgb(215, 125, 166);
  background-position: 0% 0%;
  background-attachment: scroll;
  background-image: none;
  background-size: auto;
  background-origin: padding-box;
  background-clip: border-box;
  border: 1px solid transparent;
  max-width: 300px;
  padding: 0px 40px;
  overflow: hidden;
  text-overflow: ellipsis;
  box-sizing: border-box;
  text-align: center;
  height: 50px;
  line-height: 50px;
  cursor: pointer;
  text-decoration: none !important;
  font-weight: 400;
  background-repeat: no-repeat !important;
  font-size: 14px;
  display: block;
}

.welcome_img {
  width: 48%;
  display: flex;
  -moz-box-flex: 1;
  flex-grow: 1;
  box-sizing: border-box;
  position: relative;
}

.img {
  width: 768px;
}

.social {
  display: flex;
  flex-direction: column;
  -moz-box-align: center;
  align-items: center;
  margin: 30px 0px 0px;
  box-sizing: border-box;
  position: absolute;
  bottom: 20px;
  right: 20px;
  z-index: 2;
}

.social_link {
  display: flex;
  align-items: center;
  position: relative;
}

.link {
  width: 28px;
  height: 28px;
  border: 1px solid rgb(255, 255, 255);
  color: rgb(255, 255, 255);
  border-radius: 0px;
  margin: 6px;
  fill: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
}

svg {
  pointer-events: none;
  width: 100%;
  height: 100%;
  max-width: 1.2rem;
  max-height: 1.2rem;
  margin-top: 4px;
}
